# Week 2

**Table of Contents**
1. [Quick Recap from Python_Week_1](#quick-recap-from-python-week1)
2. [List | Sets | Dictionaries](#list-tuples-sets-dictionaries-files)
3. [Conditionals and branching](#conditionals-and-branching)
4. [Loops: for loops](#loops)
5. [Functions](#functions)
7. [Numpy](#numpy)
8. [Pandas](#pandas)

<a id='Quick Recap from Python_Week_1'></a>
## Quick Recap from Python_Week_1

* **Datastructures (or datatypes) and their methods** : 


>> * primitive data structures (contain pure, simple values of data): *numbers*( *integer*, *float*, *complex*), *boolean*, *string*

>> * non-primitive data structures: *list, array, tuple, set, dictionary, file*

**Note**: you do not have to explicitly state the type of the variable or your data (because Python is a dynamically typed language). Dynamically typed languages are the languages where the type of data an object can store is mutable.


*  **Casting**
*   **Operations**

![alt text](http://res.cloudinary.com/dyd911kmh/image/upload/c_scale,f_auto,q_auto:best,w_700/v1512740202/Template_2_oxrskq.png)

<a id='Side-note-to-all-Data-Scientists-to-be-present-at-Lovelacecamp.ai'></a>
## Side note to all Data-Scientists-to-be & Machine Learning Engineers-to-be present-at-Lovelacecamp.ai

![alt text](https://cdn-images-1.medium.com/max/800/1*QpiLcu9nEEB7kjOpJDMqpw.png)

*What developers spend their time on (chart based on "[When Understanding means Rewriting](https://blog.codinghorror.com/when-understanding-means-rewriting/)”)*

Watch this video on: [HOW TO WRITE USER_FRIENDLY CODE](https://www.youtube.com/watch?v=Sm0wwmEwqpI)

**!!! Note**: the only way to get better at writing code is to write code. Lots of it. Good, bad, and everything in between!

#### Tuples

**Tuple** () is a list that is **immutable**. It is used for storing a snapshot of related items when we don’t plan on modifying, adding, or removing data. Tuples can be used in other types of containers like sets and dictionaries
Remember that because Tuples are immutable:
1. we can’t add or remove from tuples 
2. we can't sort tuples

*Tuples are useful for representing what other languages often call **records** — some related information that belongs together, like your student record.*

In [0]:
# Create a new tuple
my_tuple = ()

my_other_tuple = tuple()

student_tuple = ("Victoria", 24, "Computer Science major", 4.5)

# Accessing the tuple by index
print(student_tuple[2])

# Reassigning tuples will result in an error BECAUSE Tuples are IMMUTABLE!
#student_tuple[2] = "Maths major"
#print(student_tuple)

# Tuple Unpacking
student_tuple = ("Victoria", 24, "Computer Science major", 4.5)
(name, age, dept, grade) = student_tuple
print(name, age, dept, grade)

Computer Science major
Victoria 24 Computer Science major 4.5

#### Sets

*  { }
*   One of the most important Python Data Structures. 
*   Sets are a datatype that allows you to store other immutable types in an unordered way.
*   Sets ensure that there are no duplicates and all items are unique.
*   A Python set is a slightly different concept from a list or a tuple. A set, in Python, is just like the mathematical set.

In [0]:
# Create a new set
my_set = tuple()

farming_set = {"tractor", "plants", "water", "sunlight", "plants", "water", "cutlass"}
print(farming_set) #notice that all duplicates are gone

# Also notice that sets don't have an order

# add to a set
farming_set.add("harvesters")
print(farming_set)

# remove from a set
farming_set.discard("cutlass")
print(farming_set)

# update a set with another set
other_farming_set = {"sprayer", "mower"}
farming_set.update(other_farming_set) # initial_set.update(the_set_you_want_to_update_with)
print(farming_set)

{'cutlass', 'tractor', 'plants', 'sunlight', 'water'}
{'cutlass', 'tractor', 'plants', 'sunlight', 'water', 'harvesters'}
{'tractor', 'plants', 'sunlight', 'water', 'harvesters'}
{'tractor', 'mower', 'plants', 'sunlight', 'water', 'sprayer', 'harvesters'}

In [0]:
my_third_set = set('The Lovelace bootcamp') # pass a string as an argument to the set > the string is singularized into its characters
my_third_set

{' ', 'L', 'T', 'a', 'b', 'c', 'e', 'h', 'l', 'm', 'o', 'p', 't', 'v'}

In [0]:
# What is the output of the print() function?

library_set = {"copybook", "magazines", "book", "pens", "flipchart", "pencils", "magazines"}
library_set.add("magazines")
print(library_set)

{'magazines', 'pens', 'flipchart', 'book', 'copybook', 'pencils'}

In [0]:
# What is the output of the last print() function?

A = {1, 2, 3} # first set
B = {3, 2, 3, 1} # second set

print(A)
print(B)
print(A == B)

{1, 2, 3}
{1, 2, 3}
True

**Common Set Errors**

In [0]:
# Trying to access set items by index will result in an error
farming_set = {"tractor", "plants", "water", "sunlight", "plants", "water", "cutlass"}

# print(farming_set[2])

# !!! You cannot access items in a set by referring to an index, since sets are unordered the items has no index.
# usually you need to loop through the set items (use an iterator and walk through all items in the set): for loop or while loop

for iterator in farming_set:
    print(iterator)

water
cutlass
plants
sunlight
tractor

In [0]:
# updating a set with a string will give you results you might not be expecting.
print(farming_set)
farming_set.update("farm robots")
print(farming_set)
{'one_string still'}

{'f', 'a', 'b', 'water', 'cutlass', 'o', ' ', 'plants', 't', 'm', 'sunlight', 'tractor', 's', 'r'}
{'f', 'a', 'b', 'water', 'cutlass', 'o', ' ', 'plants', 't', 'm', 'sunlight', 'tractor', 's', 'r'}

{'one_string still'}

#### Dictionaries

Dictionary is used for storing data in key - value pairs. Keys used must be immutable data types.
*   !!!! Lists are ordered sets of objects, whereas dictionaries are unordered sets.
*   A dictionary is an associative array (also known as hashes).
*   Any key of the dictionary is associated (or mapped) to a value.
*   The values of a dictionary can be any Python data type. 

In fact, dictionaries are unordered key-value-pairs.

In [0]:
# Create a new empty dictionary
my_dict = {}
my_other_dict = dict()


my_fitness_dict = {1: "football", 2: "cricket", 3: "table tennis", 4: "volleyball"}
print(my_fitness_dict)

# search for a key in the dictionary
print(1 in my_fitness_dict)

# get the items in a dictionary
print(my_fitness_dict.items())

# get the keys in a dictionary
print(my_fitness_dict.keys())

# get the values in a dictionary
print(my_fitness_dict.values())

# get the value of a specific key in the dictionary
print(my_fitness_dict.get(3))

# get the length of a dictionary
print(len(my_fitness_dict))

# add to a dictionary using the square notation
my_fitness_dict[5] = "hockey"
print(my_fitness_dict)

# updating a dictionary with another dictionary
new_fitness_dict = {1: "cricket", 'hi': "baseball"}
my_fitness_dict.update(new_fitness_dict)
print(my_fitness_dict)

{1: 'football', 2: 'cricket', 3: 'table tennis', 4: 'volleyball'}
True
dict_items([(1, 'football'), (2, 'cricket'), (3, 'table tennis'), (4, 'volleyball')])
dict_keys([1, 2, 3, 4])
dict_values(['football', 'cricket', 'table tennis', 'volleyball'])
table tennis
4
{1: 'football', 2: 'cricket', 3: 'table tennis', 4: 'volleyball', 5: 'hockey'}

TypeError: ignored

**Common Dictionary Errors**

In [0]:
# trying to access an item by index
students = {"Jane": "Biology", "Ada": "Biology", "William":"Political Science"}
#print(students[3])

print(students) # access by key
#print(students["Biology"]) # access by the value of a key will never work!!!!

{'Jane': 'Biology', 'Ada': 'Biology', 'William': 'Political Science'}

In [0]:
# Using a mutable data type as a key
new_students = {"Emma": "Chemistry", ('1','2'): ["Ava", "Logan"]}
print(new_students[('1','2')])

['Ava', 'Logan']

# Conditions and Branching

# Conditional statements
In the real world, we commonly must evaluate information around us and then choose one course of action or another based on what we observe:
```
"If the weather is nice, then I’ll go out for a beer with my friends. (It’s implied that if the weather isn’t nice, then I won’t go out for a beer with my friends.)"
```

In [0]:
if <expression>:
    <statement>

In [0]:
# Question 1: 
  - what is <expr> in our statement ?
  - what is <statement> in our statement ?

**In a Python program, the *if statement *is how you perform this sort of decision-making. It allows for conditional execution of a statement or group of statements based on the value of an expression.**

In [0]:
a = 3
b = 5
if a > b:
    print("a is bigger than b")

**if-else branch**

![alt text](http://www.zentut.com/wp-content/uploads/2007/12/c-if-else-statement.png)






**If-else multiple branches**

![alt text](https://media.geeksforgeeks.org/wp-content/uploads/decision-making-c-4.png)

In [0]:
# Ana is 31 years old, Kate is 23 years old and David is 24 years old.
# Write a program which checks if the Ana is the oldest or not the oldest of the group.
# Print the corresponding message.

ana_age = 15
kate_age = 23
david_age = 24

# if (true) and (true):
if (ana_age > david_age) and (ana_age > kate_age):
    print("Ana is the oldest.")
else:
    print("Ana is not the oldest.")

Ana is not the oldest.

In [0]:
#############################################
################ Challenge 1 ################
#############################################

# Write a similar program when you compare 2 variables: x and y. Variable x has value 100.578 and variable y has the value 8000.25.
# Print the corresponding message(if x is bigger than y or if x is smaller than y).

x = 100.578
y = 8000.25

if x > y:
    print("x is bigger than y")
elif x < y:
    print("x is smaller than y")

x is smaller than y

***Self-lecture (optional):*** [What is a prime number ?](https://whatis.techtarget.com/definition/prime-number)

In [0]:
#############################################
################ Challenge 2 ################
#############################################

# Write a program which reads a number from the user's input, checks if the number is equal to 1000 and prints out the appropriate message in each condition branch.

number = int(input("Insert a number: "))

if number == 1000:
    print("The number is equal to 1000")
# elif number < 1000:
#    print("The number is lower than 1000")
# else:
#    print("The number is higher than 1000")

Insert a number: 6

In [0]:
#############################################
################ Challenge 3 ################
#############################################

# Write a program which reads a number from the user's input, checks if the number is an even(divisible by 2) or an odd number and prints out the appropriate message in each case.

number = int(input("Insert a number: "))

if (number % 2 == 0):
    print("The number is even")
else:
    print("The number is odd")

Insert a number: 11
The number is odd

# Loops

> *  for loops
> * while loops

## for loop

In [0]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

![alt text](https://media.giphy.com/media/SXT4pJujMMyrq7R5Ai/giphy.gif)

##List Comprehensions

List comprehensions are a short way of writing for loops and can be very useful when merging or altering datasets for example. 

We will show a basic example of this below

You can also get a head start before we begin and already watch [this](https://www.youtube.com/watch?v=5K08WcjGV6c) tutorial (7 min).

In [0]:
f = [i ** 2 for i in range(1, 7)]
print(f)

[1, 4, 9, 16, 25, 36]

In [0]:
#######################################################
################### Challenge 4 #######################
#######################################################

# Print the text "I am a real Pythonista" 8 times by making use of the for loop.
# The result should look like this:
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista
# I am a real Pythonista

for i in range (1,9):
    print("I am a real Pythonista")

I am a real Pythonista
I am a real Pythonista
I am a real Pythonista
I am a real Pythonista
I am a real Pythonista
I am a real Pythonista
I am a real Pythonista
I am a real Pythonista

In [0]:
#############################################
################ Challenge  ################
################ (optional) #################
#############################################
# Write a program which checks if a given number n is a prime number or not. Print a message accordingly.

# Definition: A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.
# The first few prime numbers are {2, 3, 5, 7, 11, ….}.

# Python program to check if  
# given number is prime or not 
  
n = int(input("Input a number: "))
prime = True
divisor = 1


for i in range(2,n): # loop over for all number from 2 to n-1
    divisor += 1       # first divisor would be 2, then 3, then 4, then 5
    if n % divisor == 0:
        prime = False
        break
    else:
        prime = True

# 1 is  considered neither a prime number neither a composite in the Fundamental Theory of Prime Numbers
if n == 1:
    print(1, "is neither prime neither composite")
elif (prime):
    print(n, "is a prime number")
else:
    print(n, "is not a prime number because it is divisable by", divisor)

Input a number: 34568
34568 is not a prime number because it is divisable by 2

# Functions

**Function and Variable Naming Convention**

*   Function names should be **lowercase**, with **words separated by underscores** as necessary to improve readability.
*   Variable names follow the same convention as function names, namely **lowercase**, with **words separated by underscores** as necessary to improve readability.



*   It is ok to write quick and dirty scripts to get some job done.
*   Keep in mind that as scripts grow, you will be expected to make them adhere to this guide.


*   **What is bad?**
*user_list, moveInts, swapNums, dict_to_store_defns_of_a_word*

*  **What is good?**
*user_info, move_integers, swap_numbers, word_definitions.*




**INTERESTING READ from Columbia University(optional): if you want to become a Data Scientist**

** Style guide lowclass Python for Data Scientists **
-> https://columbia-applied-data-science.github.io/pages/lowclass-python-style-guide.html

## Functions

Functions take an input, do something with it, and then output the result. Functions can be seen as mini-programs on themselves. 

![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Function_machine2.svg/220px-Function_machine2.svg.png)

In Python we have 3 types of functions;
- **Built-in Functions**. We have seen several of these already, such as the `len()`, `min()` and `print()` functions
- User Defined Functions (**UDF**'s) functions that people create themselves
- Anonymous or **Lambda functions** ( not declared with the standard `def` keyword )


watch this [Video about functions](https://www.youtube.com/watch?v=9Os0o3wzS_I)

The syntax for functions in Python is as follows. We have;

- `def statement` | function name | parameter
- body of the function 
- function calls | input an argument


Remember
- a **parameter** is a placeholder for the actual value
- an **argument** is the actual value that is passed in

![alt text](https://drive.google.com/uc?id=1hQV_c74lYUT9lSMD2dltLr_uca80gYK8)

what is the parameter here? and the argument?

In [0]:
def euro_to_pounds(amount):
    euros = amount*0.90
    #   print(f'{amount} euros is {euros} pounds!')
    print(str(amount) + ' euros is ' + str(euros) + 'pounds!')
    return euros

print(euro_to_pounds(50))

In [0]:
# we can also create a function without input

def say_hello():
  
  print('Hi there')

say_hello()
say_hello()

Functions make your code more efficient. So if you want to execute the same code multiple times, you won't have to write the same code multiple times. In general, you should always avoid having duplicated code. It is not necessary and when having a bug you will have to remember to change it for each line you wrote the code in.

In [0]:
name = 'Piet'

def func(n):
    print(name)
    return name

func(name)

- note that when we use `print` there are no quotes from the sting. When we use return the quotes are there. This is because `print` **does not** return the string, but displays it.  
- `print` actually returns a special value called `None`
  - None is a special value, it stands for the lack of a value
  - None doesn't show up when we type it 
- Each function call has a return value. Without the return statement however, your function will return the None value, which is not visible.



---

We can return multiple values at once.
- note that without explicitly telling which variable is which value, is is assumed that the order determines to which var it belongs.

In [0]:
# declare a function
def multiply(i,j):
    multiplication_result = i * j
    return (multiplication_result, i, j)

# Call function
multiply(j=3,i=4)

In [0]:
#######################################################
################### Challenge 5 #######################
#######################################################

# Create a function that takes as input the name and age from the user. 
# The function must return the age of the user + his/her name. "... is ... old!"

name = input("What is your name?")
age = int(input("What is your age?"))

def info_about_user(name, age):
    return(name + " is " + str(age) + " old! ")

info_about_user(name,age)

What is your name?Ana
What is your age?3

'Ana is 3 old! '

In [0]:
#######################################################
################### Challenge 6 #######################
#######################################################

# Create a function that takes a number, first multiplies it with 2.71828 then squares the outcome, then times 5. Return the result.

number = int(input("Insert a number: "))
def multiplication(number):
    return(pow((number * 2.71828), 2) * 5)

multiplication(number)

In [0]:
#######################################################
################### Challenge 7 #######################
#######################################################

# Create a function: what_should_I_drink that first asks the user if today is January or not. 
# If the answer is yes, ask the user what time of the day it is. If the answer is no, say too bad.
# Then, depending on the time of the day, return a different drink for each. (e.g. morning, afternoon, evening)

def what_should_I_drink():
    firstAnswer = input('Is today in January or not?\n')
    if firstAnswer == 'yes':
        secondAnswer = input('What time of the day it is?\n')
        if secondAnswer == 'morning':
            return('Irish coffee')
        elif secondAnswer == 'afternoon':
            return('Tea')
        elif secondAnswer == 'evening':
            return('Wine')
        elif secondAnswer == 'no':
            return('Too bad')
        else:
            return('No valid input, try again')
    else:
        return('No valid input, try again')
                        
what_should_I_drink()

Is today in January or not?
yes
What time of the day it is?
morning

'Irish coffee'

In [0]:
#######################################################
################### Challenge 7 ######################
###################### optional #######################
#######################################################

# Create a function that has a string as input, such as - 'h sh i hello th hoi j'*- * 
# that returns the string without spaces. The function has to work for inputs from various lengths.

user_string = input('Type your string')

def string_without_spaces(user_string):
    user_string = user_string.replace(' ','')
    return user_string

string_without_spaces(user_string)

Type your stringa smd     dk

'asmddk'

**Modules and Libraries in Python**

**Library**
*   collection of functions and methods that allows you to perform many actions without writing much code.
*   *import* statement
*   *wildcard* *


**Module**

* created by You -> we call them "user-defined modules"
* created by others or external source like PyPI.
* preinstalled (already there when you first installed executable).



Most-known & used by Data Scientists | app. 15 Python Libraries | from information extraction to deep learning modules:

*   ***Numpy***: *scientific computing*
*   ***Pandas***: *data manipulation and analysis*
*   ***Matplotlib***: *data visualization*
*   ***Open-CV***: real-time computer vision and image processing. Makes use of NumPy
*   ***PyTorch***: neural network modeling library with GUI
*   ***NLTK***: Language Processing.
*   ***PIL (Python Imaging Library)***: for image manipulation
*   ***Pillow***: derived from PIL
*   ***Beautiful Soup***: extracts info from HTML and XML.
*   ***Scrapy***. Extract data and web crawler.
*   ***SciPy***. Signal processing, optimization and statistics.
*   ***Scikit-learn***. machine learning and data mining.
*   ***Tensorflow***. Machine learning and deep learning.
*   ***Keras***. Neural networks API. Supports deep learning.
*   ***SpaCy***. Large scale extracting and analysing of textual information. Support deep learning.
*   ***Seaborn***. Also for data visualization. Also support for pandas and Numpy.
*   ***Bokeh***. Support large-scale interactivity and visualizations of real-time data sets.
*   ***Plotly***. For making publication-quality plots and graphs. Widely used in finance and geospatial industries.

In [0]:
# Step1. Install a library (if not installed by default)
!pip install [package name]

In [0]:
!pip install tensorflow==1.9.0-rc1 keras==2.1.6

In [0]:
# Step 2.Import a library
from <module_name> import <library_name> as <preferred_name>

In [0]:
import foo                 # foo imported and bound locally
import foo.bar.baz         # foo.bar.baz imported, foo bound locally
import foo.bar.baz as fbb  # foo.bar.baz imported and bound as fbb
from foo.bar import baz    # foo.bar.baz imported and bound as baz
from foo import attr       # foo imported and foo.attr bound as attr

In [0]:
# example:
from math import pi
print(pi)

# math library has ceil(), round(), factorial(), trigonometric(sin, cos, tan) methods and etc. but also mathematical constants: pi, e= 2.718281, tau 

# What happens if we do:
# from math import pi as p
# print(p)

# Numpy



*   Linear Algebra Library for Python
*   Incredibly fast (as it has bindings to C libraries)
*  **superpower**: arrays . Why would you use Numpy arrays instead of lists? Read [here this awesome Stackoverflow post!](https://stackoverflow.com/questions/993984/what-are-the-advantages-of-numpy-over-regular-python-lists)

In [0]:
import numpy as np

In [0]:
import numpy as np

# a = np.array(1,2,3,4)    # WRONG
a = np.array([1,2,3,4])  # RIGHT

In [0]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
my_matrix

In [0]:
np.array(my_matrix)

In [0]:
# Return evenly spaced values within a given interval.
np.arange(0,20)

In [0]:
np.arange(0,20,2)

In [0]:
np.zeros(3)

In [0]:
np.zeros((5,5))

In [0]:
np.ones(3)

In [0]:
np.ones((3,3))

### linspace
Return evenly spaced numbers over a specified interval.

In [0]:
# creating numeric sequence of 3 numbers from 0 to 10 
np.linspace(0,10,3)

In [0]:
np.linspace(0,10,50)

### max,min,argmax,argmin

These are useful methods for finding max or min values. Or to find their index locations using argmin or argmax

In [0]:
simple_array = np.array([0.23, -1, 35, 11, -44, 90.21, 0.2, -300, 300.5])

simple_array.max() # returns the max from the array.
simple_array.min() # returns the min from the array.
simple_array.argmax() # returns the indices of the maximum value.
simple_array.argmin() # returns the indices of the minimum value.

In [0]:
dir(np.array)

### Numpy arrays operations


*   Arrays arithmetic operations
*   Arays with a scalar operations

In [0]:
array = np.arange(0,10)
array

In [0]:
# Addition of 2 arrays
array + array

In [0]:
# Multiplication of 2 arrays
array * array

In [0]:
# Subtraction between 2 arrays
array - array

In [0]:
# Division
# Warning on division by zero, but not an error!
# Just replaced with nan
array/array

In [0]:
# Also warning, but not an error instead infinity
1/array

In [0]:
# Raise to the power (element-wise)
array**3

# Square the array (element-wise)
np.square(array)

# or power method
np.power(array, 2) # > this is slower than the square. power is used when we want to raise to different powers different elements in the array

In [0]:
#Taking Square Roots
np.sqrt(array)

In [0]:
#Calcualting exponential (e^)
np.exp(array)

In [0]:
#######################################################
################### Challenge 8 #######################
#######################################################

# Create an array of 10 zeros

In [0]:
#######################################################
################### Challenge 9  ######################
#######################################################

# Create an array of the integers from 10 to 50

In [0]:
#######################################################
################### Challenge 10 ######################
#######################################################

# Create a 3x3 matrix with values ranging from 0 to 8

In [0]:
#######################################################
################### Challenge 11 ######################
#######################################################

# Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [0]:
#######################################################
################### Challenge 12 ######################
#######################################################

# Create an array of 20 linearly spaced points between 0 and 1:

In [0]:
#######################################################
################### Challenge 13 ######################
#######################################################

# Given the matrix below

matrix = np.arange(1,26).reshape(5,5)
matrix

# array([[ 1,  2,  3,  4,  5],
#        [ 6,  7,  8,  9, 10],
#        [11, 12, 13, 14, 15],
#        [16, 17, 18, 19, 20],
#        [21, 22, 23, 24, 25]])

# WRITE CODE  THAT REPRODUCES THE OUTPUT BELOW

# array([[12, 13, 14, 15],
#        [17, 18, 19, 20],
#        [22, 23, 24, 25]])

# Hint: look at the number of rows & columns and think about  operation that has to be applied on the initial matrix.

In [0]:
#######################################################
################### Challenge 14 ######################
#######################################################

# Given the matrix below, print the sum of all the columns in matrix.

matrix = np.arange(1,26).reshape(5,5)
matrix

for i in range(len(matrix[0])):
    print(sum(matrix[:,i]))

55
60
65
70
75

# Pandas

## Introduction to Pandas

In this section of the course we will learn how to use pandas for data analysis. You can think of pandas as an extremely powerful version of Excel, with a lot more features. In this section of the course, you should go through the notebooks in this order:

* Introduction to Pandas
* Series
* DataFrames
* Missing Data
* GroupBy
* Merging,Joining,and Concatenating
* Operations
* Data Input and Output

### Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [0]:
import numpy as np
import pandas as pd

# Create series

# You can convert a list,numpy array, or dictionary to a Series:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [0]:
pd.Series(data=my_list)

In [0]:
pd.Series(data=my_list,index=labels)

In [0]:
pd.Series(my_list,labels)

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [0]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan']) 
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [0]:
ser1 + ser2

### DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [0]:
from numpy.random import randn
np.random.seed(101)

In [0]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [0]:
df

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [0]:
df['W']

In [0]:
# Pass a list of column names
df[['W','Z']]

In [0]:
type(df['W'])

In [0]:
df['new'] = df['W'] + df['Y']

In [0]:
# remove columns
df.drop('new',axis=1)

In [0]:
# Not inplace unless specified!
df

In [0]:
# drop rows (remove rows)
df.drop('E',axis=0)

In [0]:
df

In [0]:
# selecting rows
df.loc['A']

In [0]:
# Or select based off of position instead of label 
df.iloc[2]

In [0]:
# ** Selecting subset of rows and columns **
df.loc['B','Y']

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [0]:
df

In [0]:
df>0

In [0]:
df[df>0]

In [0]:
df[df['W']>0]

In [0]:
df[df['W']>0]['Y']

In [0]:
df[df['W']>0][['Y','X']]

In [0]:
# For two conditions you can use | and & with parenthesis:
df[(df['W']>0) & (df['Y'] > 1)]

### Merging, Joining, and Concatenating

There are 3 main ways of combining DataFrames together: Merging, Joining and Concatenating. In this lecture we will discuss these 3 methods with examples.

In [0]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [0]:
df1

In [0]:
df2

In [0]:
df3

In [0]:
# concatenation
pd.concat([df1,df2,df3])

pd.concat([df1,df2,df3],axis=1)

### Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

In [0]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [0]:
pd.merge(left, right, on=['key1', 'key2'])

### Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [0]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [0]:
left.join(right)

# Introduction to Sports Data Science with Baseball


Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

In [1]:
# import pandas as pd

In [6]:
people = pd.read_csv('https://rotterdamai001.blob.core.windows.net/python/mlb/core/People.csv')

In [7]:
# Print the first five rows using .head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

***Save a list of the unique countries and save it to variable birth_country***

In [9]:
# Answer here

#### Homework
###### Challenge 1
***Create a function that for each country lists the youngest players by birtyear, month and day***

Tips:
* Use a for loop
* Use conditional arguments for filtering
* Use the variable birth_country, you created above, to loop over the countries
* Break the challenge into individual parts. In this way it is much easier to handle.

In [10]:
# Answer here

##### Challenge 2
Derrick comes from Curacao, a small island widely known for the major league baseball players they produce. ***Help us identify all the players that were born in Curacao.***
* Save the result in a variable called: curacao_players.

***It would also be interesting to identify the Hall-of-Fame'ers, if there are any, that were born in Curacao.***
* Use the curacao_players and hall_of_fame pandas dataframes to complete the challenge of idenitfying Curacao born Hall-Of-Fame'ers.

In [12]:
hall_of_fame = pd.read_csv('https://rotterdamai001.blob.core.windows.net/python/mlb/core/HallOfFame.csv')
hall_of_fame.head()

,playerID,yearID,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN

In [ ]:
# Answer here

#### Challenge 3
We invite you to do some Data-Science-And-Chill. There is a must-see data science movie called ['Moneyball'](https://www.imdb.com/title/tt1210166/?ref_=fn_al_tt_1) starring Brad Pitt, Robin Wright, and Jonah Hill. Watching this movie is not only fun but will also provide some context for the coming 2 weeks' challenges.

You can stream the movie via [Amazon Prime](https://www.amazon.com/Moneyball-Brad-Pitt/dp/B006IMY5ZU)!